<div class="control-group row-fluid">
	<strong ng-transclude class="span6"></strong>
	<input type="radio" ng-model="{{campo}}" name={{nome}} value="RUIM" class="span1" />Ruim
	<input type="radio" ng-model="{{campo}}" name={{nome}} value="MEDIO" class="span1" />Médio
	<input type="radio" ng-model="{{campo}}" name={{nome}} value="BOM" class="span1" />Bom
	<input type="radio" ng-model="{{campo}}" name={{nome}} value="EXCELENTE" class="span1" />Excelente




	<!--
	
	<input type="radio" ng-model={{campo}} name={{nome}} value="RUIM" class="span1" />Ruim
	<input type="radio" ng-model={{campo}} name={{nome}} value="MEDIO" class="span1" />Médio
	<input type="radio" ng-model={{campo}} name={{nome}} value="BOM" class="span1" />Bom
	<input type="radio" ng-model={{campo}} name={{nome}} value="EXCELENTE" class="span1" />Excelente
	
-->
</div>
